node_modules
.venv
dist
data
*.log
.git
.env
vscode_arm64.deb
**/__pycache__
*.pyc
cityflow_ML_model/cityflow_project.zip
cityflow_ML_model/*.joblib
cityflow_ML_model/synthetic_demand_*.csv
cityflow_ML_model/cityflow_demand_*.csv
